# Roxygen-generated man pages
man/*.Rd

# R/RStudio files:
stringi.Rproj
.Rproj.user
.Rhistory
.RData

# compiled/precompiled files
*.o
*.so

# backup files
*~
*.backup
*.bak

# KDevelop project files:
*.kdev4
