# Roxygen-generated man pages
# man/*.Rd

# Autoconf
src/Makevars
autom4te.cache
config.log
config.status
.lineno

# R/RStudio files:
*.Rproj
.Rproj.user
.Rhistory
.RData

# compiled/precompiled files
*.o
*.so
*.dll
*.a
src-i386/
src-x64/

# backup files
*~
*.backup
*.bak

# KDevelop project files:
*.kdev4

# LaTeX/knitr dust:
*.aux
*.log
*.out
cache-knitr/

