export("%==%")
export("%+%")
export(stri_dup)
export(stri_flatten)
export(stri_getinfo)
export(stri_nfc)
export(stri_nfd)
export(stri_nfkc)
export(stri_nfkc_casefold)
export(stri_nfkd)
export(stri_numbytes)
export(stri_split)
export(stri_tolower)
export(stri_toupper)
export(stri_trim)
export(stri_ucnv_encinfo)
export(stri_ucnv_enclist)
export(stri_ucnv_encode)
export(stri_wrap)
export(stri_wrapC)
export(stri_wrapC2)
useDynLib(stringi)
