export("%+%")
export("stri_sub<-")
export(stri_c)
export(stri_char_getcategoryid)
export(stri_char_getpropertyid)
export(stri_charcategories)
export(stri_chartype)
export(stri_cmp)
export(stri_collator_genopts)
export(stri_compare)
export(stri_count_fixed)
export(stri_count_regex)
export(stri_count)
export(stri_detect_class)
export(stri_detect_fixed)
export(stri_detect_regex)
export(stri_detect)
export(stri_dup)
export(stri_enc_fromutf32)
export(stri_enc_get)
export(stri_enc_info)
export(stri_enc_isascii)
export(stri_enc_isnfc)
export(stri_enc_isnfd)
export(stri_enc_isnfkc_casefold)
export(stri_enc_isnfkc)
export(stri_enc_isnfkd)
export(stri_enc_isutf8)
export(stri_enc_list)
export(stri_enc_nfc)
export(stri_enc_nfd)
export(stri_enc_nfkc_casefold)
export(stri_enc_nfkc)
export(stri_enc_nfkd)
export(stri_enc_set)
export(stri_enc_toascii)
export(stri_enc_toutf32)
export(stri_enc_toutf8)
export(stri_encode)
export(stri_flatten)
export(stri_info)
export(stri_isempty)
export(stri_join)
export(stri_justify)
export(stri_length)
export(stri_locale_get)
export(stri_locale_info)
export(stri_locale_list)
export(stri_locale_set)
export(stri_locate_all_class)
export(stri_locate_all_fixed)
export(stri_locate_all_regex)
export(stri_locate_all)
export(stri_locate_first_class)
export(stri_locate_first_fixed)
export(stri_locate_first_regex)
export(stri_locate_first)
export(stri_locate_last_class)
export(stri_locate_last_fixed)
export(stri_ltrim)
export(stri_numbytes)
export(stri_order)
export(stri_pad)
export(stri_paste)
export(stri_replace_all_fixed)
export(stri_replace_all_regex)
export(stri_replace_all)
export(stri_replace_first_fixed)
export(stri_replace_last_fixed)
export(stri_reverse)
export(stri_rtrim)
export(stri_sort)
export(stri_split_class)
export(stri_split_fixed)
export(stri_split_pos)
export(stri_stats_general)
export(stri_stats_latex)
export(stri_sub)
export(stri_tolower)
export(stri_totitle)
export(stri_toupper)
export(stri_trim_all)
export(stri_trim)
export(stri_width)
export(stri_wrap)
useDynLib(stringi)
