export("%+%")
export("stri_sub<-")
export(stri_c)
export(stri_cmp)
export(stri_compare)
export(stri_conv)
export(stri_count)
export(stri_count_charclass)
export(stri_count_fixed)
export(stri_count_regex)
export(stri_detect)
export(stri_detect_charclass)
export(stri_detect_fixed)
export(stri_detect_regex)
export(stri_dup)
export(stri_enc_detect)
export(stri_enc_detect2)
export(stri_enc_fromutf32)
export(stri_enc_get)
export(stri_enc_info)
export(stri_enc_isascii)
export(stri_enc_isnfc)
export(stri_enc_isnfd)
export(stri_enc_isnfkc)
export(stri_enc_isnfkc_casefold)
export(stri_enc_isnfkd)
export(stri_enc_isutf16be)
export(stri_enc_isutf16le)
export(stri_enc_isutf32be)
export(stri_enc_isutf32le)
export(stri_enc_isutf8)
export(stri_enc_list)
export(stri_enc_nfc)
export(stri_enc_nfd)
export(stri_enc_nfkc)
export(stri_enc_nfkc_casefold)
export(stri_enc_nfkd)
export(stri_enc_set)
export(stri_enc_toascii)
export(stri_enc_toutf32)
export(stri_enc_toutf8)
export(stri_encode)
export(stri_escape_unicode)
export(stri_extract)
export(stri_extract_all)
export(stri_extract_all_charclass)
export(stri_extract_all_fixed)
export(stri_extract_all_regex)
export(stri_extract_first)
export(stri_extract_first_charclass)
export(stri_extract_first_fixed)
export(stri_extract_first_regex)
export(stri_extract_last)
export(stri_extract_last_charclass)
export(stri_extract_last_fixed)
export(stri_extract_last_regex)
export(stri_flatten)
export(stri_info)
export(stri_isempty)
export(stri_join)
export(stri_length)
export(stri_locale_get)
export(stri_locale_info)
export(stri_locale_list)
export(stri_locale_set)
export(stri_locate)
export(stri_locate_all)
export(stri_locate_all_charclass)
export(stri_locate_all_fixed)
export(stri_locate_all_regex)
export(stri_locate_first)
export(stri_locate_first_charclass)
export(stri_locate_first_fixed)
export(stri_locate_first_regex)
export(stri_locate_last)
export(stri_locate_last_charclass)
export(stri_locate_last_fixed)
export(stri_locate_last_regex)
export(stri_match)
export(stri_match_all)
export(stri_match_all_regex)
export(stri_match_first)
export(stri_match_first_regex)
export(stri_match_last)
export(stri_match_last_regex)
export(stri_numbytes)
export(stri_opts_collator)
export(stri_opts_regex)
export(stri_order)
export(stri_paste)
export(stri_read_lines)
export(stri_read_raw)
export(stri_replace)
export(stri_replace_all)
export(stri_replace_all_charclass)
export(stri_replace_all_fixed)
export(stri_replace_all_regex)
export(stri_replace_first)
export(stri_replace_first_charclass)
export(stri_replace_first_fixed)
export(stri_replace_first_regex)
export(stri_replace_last)
export(stri_replace_last_charclass)
export(stri_replace_last_fixed)
export(stri_replace_last_regex)
export(stri_reverse)
export(stri_sort)
export(stri_split)
export(stri_split_charclass)
export(stri_split_fixed)
export(stri_split_lines)
export(stri_split_lines1)
export(stri_split_regex)
export(stri_stats_general)
export(stri_stats_latex)
export(stri_sub)
export(stri_trans_tolower)
export(stri_trans_totitle)
export(stri_trans_toupper)
export(stri_trim)
export(stri_trim_both)
export(stri_trim_left)
export(stri_trim_right)
export(stri_unescape_unicode)
export(stri_write_lines)
useDynLib(stringi)
